container {
    display:flex;
    justify-content:center;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
 }
 .footer {
        position:fixed;
        bottom:0px;
        height:30px;
        width:100%;

 }